@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  
}

  nav{
    font-size: 20px;
	display: flex;
	width: 100%;
	align-items: center;
	flex-wrap: wrap;
	padding: 5px;
	position: relative;
	z-index: 2;
}
nav ul{
	flex: 1;
	text-align: right;
	padding-right: 30px;
}
nav ul li{
	display: inline-block;
	list-style: none;
	margin: 10px 30px;
}
nav ul li a{
	color: #000000;
	text-decoration: none;
	position: relative;
}
nav ul li a::after{
	content: '';
	width: 0;
	height: 3px;
	position: absolute;
	bottom: -5px;
	left: 50%;
	transform: translateX(-50%);
	background: #000000;
	transition: width 0.3s;
}
nav ul li a:hover::after{
	width: 50%;
}
.column {
    float: left;
    width: 50%;
    padding: 15px;
  }
  
  /* Clear floats after the columns */
  .row::after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
  @media screen and (max-width:600px) {
    .column {
      width: 100%;
    }
  }